{
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
